<!-- Heading -->

<div class="top-header-container">
  <div class="branding">
    <h1>Connected Minds Lambeth</h1>
  </div>
  
  <!-- Login Button -->
  <div class="user-log-in-container">
  <% if (user) { %>
    <p class="user-welcome">logged in as <%= user.username %></p>
  
    <a href="#" id="logoutButton" class="user-log-in">Log Out</a>
  <% } else { %>
    <a href="#" id="loginButton" class="user-log-in">Log in</a>
  <% } %>
  </div>
</div>

<!-- Nav bar -->
<nav class="navbar">
  <a href="<%= baseUrl %>/">Home</a>
  <% if (user) { %>
    <% if (user.role === 'supa_admin') { %>
      <a href="<%= baseUrl %>/manage-users/add">Add User</a>
      <% } %>
    <% if (user.role === 'supa_admin') { %>
      <a href="<%= baseUrl %>/manage-activity/add">Add Activity</a>
      <% } %>
  <% } %>
</nav>


<!-- Include the modal partial -->
<%- include("./modal.ejs") %>