<!-- Heading -->

<div class="top-header-container">
  <div class="branding">
    <img src="/images/connected-minds-logo.png" alt="connected-mands logo">

    <div class="branding-title">
      <h1>Connected Minds Lambeth</h1>
      <h2>Creative Health Pathway</h2>
    </div>

    <!-- Hamburger Menu in Top Header -->
    <div class="hamburger-menu">
      <p class="hamburger-menu-title">menu</p>
      <button class="menu-toggle icon" id="menu-toggle" aria-label="Toggle Menu">
        <%- include('./menu-icon-svg.ejs') %>
      </button>
      <div class="dropdown-menu" id="dropdown-menu">
        <a href="<%= baseUrl %>/">Search Activities</a>
        <% if (user) { %>
          <% if (user.role === 'supa_admin') { %>
            <a href="<%= baseUrl %>/manage-users/add">Add User</a>
          <% } %>
          <% if (user.role === 'supa_admin' || user.role === 'admin') { %>
            <a href="<%= baseUrl %>/manage-activity/add">Add Activity</a>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
  
  <!-- Login Button -->
  <div class="user-log-in-container">
  <% if (user) { %>
    <p class="user-welcome">logged in as : <span class="user-name"><%= user.username %> - <%= user.role %></span></p>
    <a href="#" id="logout-button" data-modal="logout" class="user-log-in">Log Out</a>
  <% } else { %>
    <p class="user-welcome">Using site as : <span class="user-name">guest</span></p>
    <a href="#" id="login-button" data-modal="login" class="user-log-in">Log in</a>
  <% } %>
  </div>
</div>

<!-- Include the modal partial -->
<%- include("./modal.ejs") %>