<% console.log(locals.activity ? activity : "no activity data") %>

<div class="update-activity-container">
    <h2><%= locals.activity ? "Update Activity" : "Add Activity" %></h2>
    <form 
      action="<%= locals.activity ? `/manage-activity/update/${activity.id}` : '/manage-activity/add' %>" 
      method="<%= locals.activity ? 'POST' : 'POST' %>" 
      id="update-activity-form"
    >  
      <label for="title">Activity Title:</label>
      <input 
        type="text" 
        name="title"
        id="title"
        value="<%= locals.activity ? activity.title : "" %>" 
        required
      >
  
      <label for="provider_name">Provider Name:</label>
      <input 
        type="text" 
        name="provider_name"
        id="provider_name"
        value="<%= locals.activity ? activity.provider_name : "" %>" 
        required
      >
  
      <label for="website">Provider Website:</label>
      <input 
        class="smaller" 
        type="url" 
        name="website"
        id="website"
        value="<%= locals.activity ? activity.website : "" %>" 

      >

      <label for="participating_schools">Participating Schools:</label>
      <input 
        type="text" 
        name="participating_schools"
        id="participating_schools"
        value="<%= locals.activity ? activity.participating_schools : "" %>" 

      >
  
      <label for="description">Description:</label>
      <textarea 
        name="description"
        id="description" 
        required
      ><%= locals.activity ? activity.description : "" %></textarea>

      <label for="contact_email">Contact Email:</label>
      <input 
        class="smaller" 
        type="email" 
        name="contact_email"
        id="contact_email"
        value="<%= locals.activity? activity.contact_email : "" %>"
      >
  
      <!-- Dropdown for Day of the Week -->
      <label for="day">Day of Week:</label>
      <select 
        name="day"
        id="day"
        required
      >
        <option value="">Select</option>
        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].forEach(day => { %>
          <option value="<%= day %>" <%= locals.activity && activity.day === day ? "selected" : "" %>><%= day %></option>
        <% }) %>
      </select>

      <!-- Dropdown for dates -->
      <div class="pair-container">
        <div class="pair-field">
            <label for="start_date">Start Date:</label>
            <input type="date" class="even-smaller" name="start_date" id="start_date" value="<%= locals.activity ? activity.start_date : '' %>">
        </div>
    
        <span class="pair-separator"> to </span>
    
        <div class="pair-field">
            <label for="stop_date">End Date:</label>
            <input type="date" class="even-smaller" name="stop_date" id="stop_date" value="<%= locals.activity ? activity.stop_date : '' %>">
        </div>
      </div>

      <!-- Dropdown for Times -->
      <div class="pair-container">
        <!-- Start Time Dropdown -->
        <div class="pair-field">
          <label for="start_time">Start Time:</label>
          <select name="start_time" id="start_time">
            <option value="">TBC</option>
            <% for (let h = 6; h <= 22; h++) { %>
              <% for (let m = 0; m < 60; m += 5) { %>
                <% let time = `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}`; %>
                <option value="<%= time %>" <%= locals.activity && activity.start_time && activity.start_time.slice(0,5) === time ? 'selected' : '' %>><%= time %></option>
              <% } %>
            <% } %>
          </select>
        </div>

        <span class="pair-separator"> to </span>
      
        <!-- Stop Time Dropdown -->
        <div class="pair-field">
          <label for="stop_time">Stop Time:</label>
          <select name="stop_time" id="stop_time">
            <% if (locals.activity && activity.start_time) { %>
              <% for (let h = parseInt(activity.start_time.slice(0,2), 10); h <= 22; h++) { %>
                <% for (let m = parseInt(activity.start_time.slice(4,5), 10); m < 60; m += 5) { %>
                  <% let time = `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}`; %>
                  <option value="<%= time %>" <%= activity.stop_time && activity.stop_time.slice(0,5) === time ? 'selected' : '' %>><%= time %></option>
                <% } %>
              <% } %>
            <% } %>
          </select>
        </div>
      </div>
  
      <!-- Dropdown for Target Group -->
      <label for="target_group">Target Group:</label>
      <select 
        name="target_group"
        id="target_group" 
        required
      >
        <option value="">Select</option>
        <% ["Children", "Youth", "Adults", "Everyone", "Families", "Other"].forEach(group => { %>
          <option value="<%= group %>" <%= locals.activity && activity.target_group === group ? "selected" : "" %>><%= group %></option>
        <% }) %>
      </select>

  
      <!-- Dropdowns for Age Range -->
      <div class="pair-container">
        <!-- Lower Age -->
        <div class="pair-field">
          <label for="age_lower">Lower Age:</label>
          <select
            name="age_lower"
            id="age_lower"
          >
            <option value="">TBC</option>
            <% for (let i = 1; i <= 110; i++) { %>
              <option value="<%= i %>" <%= locals.activity && activity.age_lower == i ? "selected" : "" %>><%= i %></option>
            <% } %>
          </select>
        </div>
      
        <span class="pair-separator"> to </span>
      
        <!-- Upper Age -->
        <div class="pair-field">
          <label for="age_upper">Upper Age:</label>
          <select 
            name="age_upper"
            id="age_upper"
          >
            <% if (locals.activity && activity.age_lower) { %>
              <% for (let i = locals.activity.age_lower; i <= 110; i++) { %>
                <option value="<%= i %>" <%= activity.age_upper && activity.age_upper == i ? "selected" : "" %>><%= i %></option>
              <% } %>
            <% } else { %>
              <option value="" selected></option>
            <% } %>
          </select>
        </div>
      </div>

      <!-- Dropdown for Total Spaces -->
      <div class="pair-container">
        <!-- Total Spaces -->
        <div class="pair-field">
          <label for="total_spaces">Total Spaces:</label>
          <select 
            name="total_spaces" 
            id="total_spaces"
          >
            <option value="">TBC</option>
            <% for (let i = 1; i <= 50; i++) { %>
              <option value="<%= i %>" <%= locals.activity && activity.total_spaces == i ? "selected" : "" %>><%= i %></option>
            <% } %>
          </select>
        </div>

        <span class="pair-separator"> to </span>

        <!-- Spaces Remaining -->
        <div class="pair-field">
          <label for="spaces_remaining">Remaining:</label>
          <select 
            name="spaces_remaining"
            id="spaces_remaining"
          >
            <% if (locals.activity && activity.total_spaces) { %>
              <% for (let i = activity.total_spaces; i >= 0; i--) { %>
                <option value="<%= i %>" <%= activity.spaces_remaining && activity.spaces_remaining == i ? "selected" : "" %>><%= i %></option>
              <% } %>
              <% } else { %>
                <option value="" selected></option>
              <% } %>      
          </select>
        </div>
      </div>
  
      <label for="cost">Cost(£):</label>
      <input 
        class="even-smaller" 
        type="text" 
        name="cost" 
        id="cost" 
        placeholder="0.00"
        value="<%= locals.activity ? locals.activity.cost : "" %>"
        required 
      >
  
      <h3>Address Details</h3>
      <label for="street_1">Street Address / Building Name:</label>
      <input 
        type="text" 
        name="street_1"
        id="street_1"
        value="<%= locals.activity ? locals.activity.street_1 : "" %>" 
        required
      >
  
      <label for="street_2">Street Address 2:</label>
      <input 
        type="text"
        name="street_2"
        id="street_2"
        value="<%= locals.activity ? locals.activity.street_2 : "" %>"
      >
  
      <label for="city">City:</label>
      <input 
        class="smaller"
        type="text"
        name="city"
        id="city"
        value="<%= locals.activity ? locals.activity.city : "" %>"
      >
  
      <label for="postcode">Postcode:</label>
      <input 
        class="even-smaller" 
        type="text" 
        name="postcode" 
        id="postcode" 
        value="<%= locals.activity ? locals.activity.postcode : "" %>"
        required
      >
  
      <div class="submit-update-button-box">
        <button class="submit" type="submit"><%= locals.activity ? "Update Activity" : "Add Activity" %></button>
        <button class="cancel" onclick="window.history.back()">Cancel</button>
      </div>

    </form>
</div>


  