<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/update-activity-form.css">
    <script src="/js/validate-update-form.js" defer></script>

</head>

<body>
    <div class="container">
      <header>
        <%- include('../partials/header.ejs', { user: user || null }) %>
      </header>

      <!-- Flash Message Container - Always Present to Prevent Page Shift -->
      <%- include('../partials/flash-message-display.ejs') %>

      <main>
          <%- include('../partials/update-activity-form.ejs' ) %> <!-- No activity passed as new activity being made -->
      </main> 
      
      <footer>
        <%- include('../partials/footer.ejs') %>
      </footer>

    </div>

</body>

</html>