<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container">
      <header>
        <%- include('../partials/header.ejs', { user: user || null }) %>
      </header>

      <main>
        <%- include('../partials/search-area.ejs', { searchData }) %>
        <%- include('../partials/found-activities.ejs', { activities }) %>
      </main>
      
      <footer>
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
</body>

</html>
