<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/search-n-found-area.css">
    <link rel="stylesheet" href="/css/activity-card.css">
    <link rel="stylesheet" href="/css/edit-buttons-box.css">
    <script src="/js/filters.js" defer></script>
    <script src="/js/pinned.js" defer></script>
    <script src="/js/search.js" defer></script>
    <script src="/js/activity-card.js" defer></script>
    <script src="/js/format-activity-details.js" defer></script>
    <script src="/js/format-edit-buttons.js" defer></script>
    <script src="/js/delete-activity.js"></script>

</head>

<body>

    <div class="container">
      <header>
        <%- include('../partials/header.ejs', { user: user || null }) %>
      </header>

      <!-- Flash Message Container - Always Present to Prevent Page Shift -->
      <%- include('../partials/flash-message-display.ejs') %>

      <main>
        <%- include('../partials/search-area.ejs') %>
        <%- include('../partials/found-activities.ejs', { user: user || null }) %>
      </main>
      
      <footer>
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>

</body>

</html>
